html{
  height: 100% 
}
body{
    margin: 0;
    padding: 0;
    height: 80%
}
.mainDiv{
    background: url(static/izmirMainImg.png) no-repeat center/ cover;
    width: 100%;
    height: 100vh;
}

.title{
    position: relative;
    top: 3vh;
    left: 3vw;
    width: 10vw;
    padding: 1vw;
    border-radius: 0.5vw;
    box-shadow:5px 5px rgba(0, 0, 0, 0.37);
    background-color: rgba(82, 81, 81, 0.596);
    position: relative;
    color:white;/*#5A3A2F;*/
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    font-size: x-large;
}

.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  width: 600px;
  margin: -7vh 40vw;
  overflow: hidden;
}

.slidemenu label{
  width: auto;
  text-align: center;
  display: block;
  float: left;
  color: white;
  font-weight: bold;

}

.slidemenu label:hover{
  cursor: pointer;
  color: black;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider{
  width: 70%;
  height: 0.2vh;
  display: block;
  background: #cccccc00;
  margin:2vh 0 0 0.5vw;
  border-radius: 1vw;
}

.slider .bar{
  width: 25%;
  height: 1vh;
  background: #333;
  border-radius: 1vh;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}

.home{
  margin: 0 1vw 0 1vw;
  padding: 1vw;
  border-radius: 0.5vw;
  box-shadow:5px 5px rgba(0, 0, 0, 0.37);
  background-color: rgba(82, 81, 81, 0.822);
  color:rgb(0, 0, 0);
  font-size: large;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}
.projects{
  padding: 1vw;
  border-radius: 0.5vw;
  box-shadow:5px 5px rgba(0, 0, 0, 0.37);
  background-color: rgba(82, 81, 81, 0.822);
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}
.aboutUs{
  padding: 1vw;
  border-radius: 0.5vw;
  box-shadow:5px 5px rgba(0, 0, 0, 0.37);
  background-color: rgba(82, 81, 81, 0.822);
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 6%;}  
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 40%;} 
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 70%;} 


.infoSection{
  width: 20vw;
  height: auto;
  color: white;
  font-weight:bold;
  position: relative;
  top:-40vh;
  left: 3vw;
  padding: 1vw;
  border-radius: 0.5vw;
  box-shadow:5px 5px rgba(0, 0, 0, 0.37);
  background-color: rgba(82, 81, 81, 0.822);
}
.imgs{
  width: 30vw;
  height: 17.5vh;
  position: absolute;
  top:60vh;
  right: 10%;
  padding: 1vw 0 0 0;
  border-radius: 0.5vw;
  box-shadow:5px 5px rgba(0, 0, 0, 0.37);
  background-color: rgba(82, 81, 81, 0.822);
  overflow: auto;
  display: flex;

}
.imgs .i1{
  margin-left:0.5vw;
}
.imgs::-webkit-scrollbar {
  width: 1vh;/* width of the entire scrollbar */
  background:transparent;
}
.imgs img{
  margin-left: 1vw;
}
.imgs img:hover{
  scale: 100.5%;
}
.header{
  width: 100%;
  /* display:flex; */
}
.footer{
  position: absolute;
  width: 30vw;
  top: 80vh;
  left: 60vw;
  text-align: center;
  margin-top:1vh ;
  display: flex;
  flex-direction:row;
  align-items: center;
}
.infopic{
  width: 100%; 
}
.infopic * {
  margin-left: 1vw;  
}
.infopic p{
  width: 5vw;
}
.hr1{
  display: none;
}
.footer img {
  margin-left: 2vw;
  background:  rgba(82, 81, 81, 0.822);
  padding: 1vw;
  border-radius: 0.5vw;
}
.arrow{
  display: none;
}
.aboutinfo::-webkit-scrollbar {
  width: 0.2vw;/* width of the entire scrollbar */
  background: white;
}
.infobook{
  display: none;
}

/* display width 10 */
@media (max-width: 1024px) {
  .infoSection{
    top: -50vh;
  }
}
@media (max-width: 768px) {
  .title{
    width: 92%;
  }
  .slidemenu{
    margin:5vh 26vw ;
    width: 450px;
  }
  .slider{
    margin:2vh 0 0 6.5vw;
  }
  .imgs{
    width: 80%;
    height: 29vh;
    display: block;
    padding: 2vw;
  }
  .imgs img{
    width: 100%;
    height: auto;
  }
  .slider{
    display: none;
  }
  .footer{
    display: none;
  }
}
@media (max-width: 610px) {
  .slidemenu{
    width: 35vw;
    margin:5vw 3vw;
  }
  .slidemenu label{
    margin-top: 2vh;
  }
  .infoSection{
    margin-top:10vh ;
  }
  .home{
    margin:0;
  }
}